<div  class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fas fa-bars"></i>
  </a>

  <nav *ngIf="service.isAutenticar()" id="sidebar" class="sidebar-wrapper">
   
    <div class="sidebar-content" >
      
      <div class="sidebar-brand">
        <a>MVP</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>

      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="./../../../assets/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">
            <strong>{{email}}</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
    
     
      <div class="sidebar-menu">
        <ul>

          <li class="header-menu">
            <span>General</span>
          </li>
          <li>
            <a routerLink="admin/process/listProcess">
              <i class="fa fa-folder"></i>
              <span>Procesos</span>
            </a>
          </li>
         
          <li class="sidebar-dropdown">
            <a >
              <i class="fa fa-folder"></i>
              <span>Modulo Proveedor</span>
              <span class="badge badge-pill badge-warning"></span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a [routerLink]="[ 'admin' , 'provider', 'listProvider']">Lista Provedores 
                   
                  </a>
                </li>
                <li>
                  <a [routerLink]="[ 'admin' , 'provider', 'list_provi_evalua']">Lista Evalucaiones </a>
                </li>
            
              </ul>
            </div>
          </li>


          <li class="sidebar-dropdown">
            <a >
              <i class="fa  fa-folder"></i>
              <span>Modulo Infraestructura</span>
              <span class="badge badge-pill badge-warning"></span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a [routerLink]="[ 'infraes' , 'listAFtangible']">Activo Fijos Tangibles 
                      </a>
                </li>
                <li>
                  <a [routerLink]="['infraes' , 'listUtilstools']" >Utiles y Herramientas</a>
                </li>

                <li>
                  <a [routerLink]="['infraes' , 'listametrologia']" >Metrologia</a>
                </li>

                <li>
                  <a [routerLink]="['infraes' , 'listProteccio']" >Proteccion Proceso</a>
                </li>
              
              </ul>
            </div>
          </li>


          <li class="sidebar-dropdown">
            <a >
              <i class="fa fa-folder"></i>
              <span>Modulo Conocimiento</span>
              <span class="badge badge-pill badge-warning"></span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a [routerLink]="[ '/mconocimiento' , 'listinovacion']">Lista Inovacion 
                   
                  </a>
                </li>
                <li>
                  <a [routerLink]="[ '/mconocimiento' , 'addinovacion']">Agragar Inovacion </a>
                </li>
            
              </ul>
            </div>
          </li>
          
          <li class="sidebar-dropdown">
            <a >
              <i class="fa fa-folder"></i>
              <span>Modulo Producto</span>
              <span class="badge badge-pill badge-warning"></span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a [routerLink]="['products', 'addproducts']">Agregar Producto
                   
                  </a>
                </li>
                <li>
                  <a [routerLink]="['products', 'listproducts']">Listar Prodcutos</a>
                </li>
            
              </ul>
            </div>
          </li>

          

    
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
  </nav>

  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
 
      <div class="row">
        <div class="col">

          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </main>
  <!-- page-content" -->
</div>