<ngx-loading-x [show]="isloading"> </ngx-loading-x>

<button class="btn btn-success btn-xs mr-1 ml-1" [routerLink]="['/infraes', 'addmetrologia' ]">
    <i class="fa fa-plus"></i> Agregar
  </button>

<table class="table mt-2">
    <thead class="thead-light">
      <tr>
        <th scope="col">Punto Control</th>
        <th scope="col">Variable Controlada</th>
        <th scope="col">Instrumento</th>
        <th scope="col">Precision</th>
        <th scope="col">Cantidad</th>
        <th scope="col">(%) Empleo Proceso</th>
        <th scope="col">Precio</th>
        <th class="col-3" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of listElemtos">
        <td>{{i.name}}</td>
        <td>{{i.variable_to_control}}</td>
        <td>{{i.instrument}}</td>
        <td>{{i.precision}}</td>
        <td>{{i.quantity}}</td>
        <td>{{i.dedicated_percentage}}</td>
        <td>{{i.price_per_unit.amount}}</td>
        <td>
          <button (click)="delte(i.id)" class="btn btn-danger btn-sm mr-1 ml-1">
            <i class="fa fa-trash"></i>
          </button>
          <button class="btn btn-info btn-sm mr-1 ml-1"
            [routerLink]="['/infraes/updateMetrologia', i.id] ">
            <i class="fa fa-history"></i>
          </button>
          <button (click)="UpdateInvacion(i.id)" class="btn btn-warning btn-sm mr-1 ml-1"
          [routerLink]="['/infraes/detallesMetrologia', i.id] ">
          <i class="fa fa-archive"></i>
        </button>
  
  
        </td>
      </tr>
  
    </tbody>
  </table>
  
