<ngx-loading-x [show]="isloading"> </ngx-loading-x>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <form (ngSubmit)="onSubmit()" role="form" [formGroup]="FromwMaterials">
      <div class="form-group mb-3 mt-5">
        <div class="text-muted text-center mt-3">
          <h4>Residuo Materiales</h4>
        </div>
      </div>

      <div class="form-group mb-3 mt-5">
        <input
          type="text"
          class="fadeIn second form-control"
          formControlName="product_name"
          placeholder="Nombre Produto"
        />
        <div
          class="invalid"
          *ngIf="FromwMaterials.controls.product_name.errors"
        >
          <strong *ngIf="FromwMaterials.controls.product_name.errors.required"
            >Rellen el campo por favor...</strong
          >
        </div>
      </div>

      <div class="form-group mb-3 mt-5">
        <input
          type="number"
          class="fadeIn second form-control"
          formControlName="sale_amount"
          placeholder="Monto en Venta"
        />
        <div class="invalid" *ngIf="FromwMaterials.controls.sale_amount.errors">
          <strong *ngIf="FromwMaterials.controls.sale_amount.errors.required"
            >Rellen el campo por favor...</strong
          >
        </div>
      </div>

      <div class="form-group mb-3 mt-5">
        <input
          type="number"
          class="fadeIn second form-control"
          formControlName="waste_recovery_by_sale"
          placeholder="Recuperacion Residuo (% Venta)"
        />
        <div
          class="invalid"
          *ngIf="FromwMaterials.controls.waste_recovery_by_sale.errors"
        >
          <strong
            *ngIf="
              FromwMaterials.controls.waste_recovery_by_sale.errors.required
            "
            >Rellen el campo por favor...</strong
          >
        </div>
      </div>

      <div class="form-group mb-3 mt-5">
        <input
          type="text"
          class="fadeIn second form-control"
          formControlName="um"
          placeholder="UM"
        />
        <div class="invalid" *ngIf="FromwMaterials.controls.um.errors">
          <strong *ngIf="FromwMaterials.controls.um.errors.required"
            >Rellen el campo por favor...</strong
          >
        </div>
      </div>

      <div class="form-group mb-3 mt-5">
        <input
          type="number"
          class="fadeIn second form-control"
          formControlName="waste_percentage"
          placeholder="% Residuo"
        />
        <div
          class="invalid"
          *ngIf="FromwMaterials.controls.waste_percentage.errors"
        >
          <strong
            *ngIf="FromwMaterials.controls.waste_percentage.errors.required"
            >Rellen el campo por favor...</strong
          >
        </div>
      </div>

      <div class="form-group mb-3 mt-5">
        <input
          type="number"
          class="fadeIn second form-control"
          formControlName="environmental_burden"
          placeholder="Carga Ambiental"
        />
        <div
          class="invalid"
          *ngIf="FromwMaterials.controls.environmental_burden.errors"
        >
          <strong
            *ngIf="FromwMaterials.controls.environmental_burden.errors.required"
            >Rellen el campo por favor...</strong
          >
        </div>
      </div>

      <div class="form-group mb-3 mt-5">
        <input
          type="number"
          class="fadeIn second form-control"
          formControlName="maximum_admitted_standard"
          placeholder="Norma Maxima admitida"
        />
        <div
          class="invalid"
          *ngIf="FromwMaterials.controls.maximum_admitted_standard.errors"
        >
          <strong
            *ngIf="
              FromwMaterials.controls.maximum_admitted_standard.errors.required
            "
            >Rellen el campo por favor...</strong
          >
        </div>
      </div>

      <div class="form-group mb-3 mt-5">
        <input
          type="number"
          class="fadeIn second form-control"
          formControlName="overload_level"
          placeholder="Nivel Sobrecarga"
        />
        <div
          class="invalid"
          *ngIf="FromwMaterials.controls.overload_level.errors"
        >
          <strong *ngIf="FromwMaterials.controls.overload_level.errors.required"
            >Rellen el campo por favor...</strong
          >
        </div>
      </div>

      <div class="form-group mb-3 mt-5">
        <input
          type="number"
          class="fadeIn second form-control"
          formControlName="price"
          placeholder="Precio"
        />
        <div class="invalid" *ngIf="FromwMaterials.controls.price.errors">
          <strong *ngIf="FromwMaterials.controls.price.errors.required"
            >Rellen el campo por favor...</strong
          >
        </div>
      </div>

      <div class="form-group mb-3 mt-5">
        <input
          type="number"
          class="fadeIn second form-control"
          formControlName="price_recoveral_percentage"
          placeholder="Recuperacion de precio"
        />
        <div
          class="invalid"
          *ngIf="FromwMaterials.controls.price_recoveral_percentage.errors"
        >
          <strong
            *ngIf="
              FromwMaterials.controls.price_recoveral_percentage.errors.required
            "
            >Rellen el campo por favor...</strong
          >
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary my-4 mr-2 fadeIn fourth"
        [disabled]="!this.FromwMaterials.valid"
      >
        Agregar
      </button>
      <button
        [routerLink]="['/infraes', 'listAFtangible']"
        type="button"
        class="btn btn-danger my-4 fadeIn fourth"
      >
        Cancelar
      </button>
    </form>
  </div>
</div>
