


<div style="display: inline-block;">

  <button *ngIf="isAcitve()" [routerLink]="['/admin', 'process' , 'addProcess']" class="btn "><a
    class="fa fa-plus"></a></button>
    
    <button [routerLink]= "['/admin' , 'proces_provider']" class="btn btn-primary">
           Agregar Provedor 
    </button>
   </div>

<table class="table mt-2">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list | paginate: { itemsPerPage: 3, currentPage: pages } , let i = index">
      <td>{{i + 1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>

      <td>
        <button class="btn btn-success btn-xs mr-1 ml-1" [routerLink]="['/admin', 'process' , 'addProcess']">
          <i class="fa fa-plus"></i>
        </button>
        <button (click)="delete_id(item.id)" class="btn btn-danger  mr-1 ml-1">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>

  </tbody>
</table>

<ngx-loading-x  [show]="isActivar"> </ngx-loading-x>

<pagination-controls (pageChange)="pages = $event"></pagination-controls>