
 <ngx-loading-x [show]="isActivar"></ngx-loading-x>

<div class="wrapper fadeInDown">
    <div id="formContent">


        <form [formGroup]="fromEva">


            <div class="form-group mb-3 mt-5">
                <div class="text-muted text-center mt-3">
                    <h4>Evaluacion Proveedor </h4>
                </div>
            </div>


            <div class="form-group">
                <label>Selecciona el Proceso</label>
                <select class="form-control" id="selectProvedor" formControlName="select1"
                    (change)="onChange($event.target.value)">
                    <option *ngFor="let item of listaProcess" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>



            <div class="form-group">
                <label for="exampleFormControlSelect1">Selecciona el Proceso</label>
                <select class="form-control" id="selectProcess" formControlName="select2" (click)="chancgeProvedor($event.target.value)">
                    <option *ngFor="let item of listaPrevider" value="{{item.id}}">
                        {{item.data.name}}</option>
                </select>
            </div>

             
            <div class="form-group mb-3 mt-5">
                <label>Credito</label>
                 <div class="row">
                       <div class="col-6">
                        <input type="number" class="fadeIn second form-control" formControlName="credit" placeholder="Credito">
                       </div>
                       <div class="col-6">
                        <select class="form-control" formControlName="creditP">
                            <option  *ngFor="let item of Valors; let i=index" value="{{i+1}}">
                                {{item}}</option>
                        </select>
                       </div>
                 </div>
            
            </div>

            <div class="form-group mb-3 mt-5">
                <label>Puntualidad</label>
                 <div class="row">
                       <div class="col-6">
                        <input type="number" class="fadeIn second form-control" formControlName="punt" placeholder="Puntualidad">
                       </div>
                       <div class="col-6">
                        <select class="form-control" formControlName="puntP">
                            <option  *ngFor="let item of Valors; let i=index" value="{{i+1}}">
                                {{item}}</option>
                        </select>
                     
                       </div>
                 </div>
            
            </div>
         

            <div class="form-group mb-3 mt-5">
                <label>Calidad</label>
                 <div class="row">
                       <div class="col-6">
                        <input type="number" class="fadeIn second form-control" formControlName="cali" placeholder="Calidad">
                       </div>
                       <div class="col-6">
                        <select class="form-control" formControlName="caliP">
                            <option  *ngFor="let item of Valors; let i=index" value="{{i+1}}">
                                {{item}}</option>
                        </select>
                    
                       </div>
                 </div>
            
            </div>
         
            <div class="form-group mb-3 mt-5">
                <label>Relaciones</label>
                 <div class="row">
                       <div class="col-6">
                        <input type="number" class="fadeIn second form-control" formControlName="reli" placeholder="Relaciones">
                       </div>
                       <div class="col-6">
                        <select class="form-control" formControlName="reliP">
                            <option  *ngFor="let item of Valors; let i=index" value="{{i+1}}">
                                {{item}}</option>
                        </select>
                        
                       </div>
                 </div>
            
            </div>
         
            <div class="form-group mb-3 mt-5">
                <label>Cantidad</label>
                 <div class="row">
                       <div class="col-6">
                        <input type="number" class="fadeIn second form-control" formControlName="canti" placeholder="Credito">
                       </div>
                       <div class="col-6">
                        <select class="form-control" formControlName="cantiP">
                            <option  *ngFor="let item of Valors; let i=index" value="{{i+1}}">
                                {{item}}</option>
                        </select>
                    
                       </div>
                 </div>
            
            </div>
         
         

                <button (click)="enviar()" type="button" class="btn btn-primary my-4 mr-2 fadeIn fourth" >Agregar</button>
                <button [routerLink]="['/admin' , 'process'  ,'listProcess']" type="button"
                class="btn btn-danger my-4 mr-2 fadeIn fourth">Cancelar</button>
            </form>
            
        </div>
    </div>