  
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon 
      <div class="fadeIn first">
        <img src="//" id="icon" alt="User Icon" />
      </div>
    -->

    <!-- Login Form -->
  
    <form role="form" [formGroup]="fgValidator">

      <div class="form-group mb-3 mt-5">
        <div class="text-muted text-center mt-3"> <h4>Bienvenido a MVP </h4></div>
      </div>


      <div class="form-group mb-3 mt-5">
       <input type="text"  class="fadeIn second form-control" formControlName="email"  placeholder="Corre electronico">
       <div class="invalid" *ngIf="fgv.email.errors">
        <strong *ngIf="fgv.email.errors.email">Este campo tiene un formato email</strong>
        <strong *ngIf="fgv.email.errors.required">Relle el campo...</strong>
     </div>
     </div>


     <div class="form-group mb-3 mt-5 ">
      <input type="password"  class="fadeIn third form-control" formControlName="password"  placeholder="Contraseña">
      <div class="invalid" *ngIf="fgv.password.errors">
        <strong *ngIf="fgv.password.errors.required">Relle el campo...</strong>
         <br>
        <strong *ngIf="fgv.password.errors">Minimo debe tener 11 caracteres</strong>
     </div>
    </div>
       
  
        <button (click)="beginSession()" type="button" [disabled]= '!fgValidator.valid'  class="btn btn-primary my-4 mr-2 fadeIn fourth">Acceder</button>
        <button  routerLink="/auth/register" type="button"  class="btn btn-primary my-4 fadeIn fourth">Registro</button>
    

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>

<ngx-loading-x [show]="isActivar"> </ngx-loading-x>