<ngx-loading-x [show]="isloading"> </ngx-loading-x>
<button
  class="btn btn-success btn-xs mr-1 ml-1"
  [routerLink]="['/mambietal', 'addeResiduals']"
>
  <i class="fa fa-plus"></i> Agregar
</button>

<table class="table mt-2">
  <thead class="thead-light">
    <tr>
      <th scope="col">Residuos y Emiciones</th>
      <th scope="col">UM</th>
      <th scope="col">% Residuo</th>
      <th scope="col">Precion</th>
      <th scope="col">Importe</th>
      <th scope="col">Recuperacion Residuo(Venta)</th>
      <th class="col-2" scope="col-3">Importe Venta</th>
      <th class="col-2" scope="col-3">Norma Maxima Admitida</th>
      <th class="col-2" scope="col-3">Carga Ambiental</th>
      <th class="col-2" scope="col-3">Nivel Sobrecarga</th>
      <th class="col-2" scope="col-3">Aciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of listElemtos">
      <th scope="row">{{ i.product_name }}</th>
      <td>{{ i.um }}</td>
      <td>{{ i.waste_percentage }}</td>
      <td>{{ i.price.amount }}</td>
      <td>{{ i.amount.amount }}</td>
      <td>{{ i.waste_recovery_by_sale }}</td>
      <td>{{ i.sale_amount.amount }}</td>
      <td>{{ i.maximum_admitted_standard }}</td>
      <td>{{ i.environmental_burden }}</td>
      <td>{{ i.overload_level }}</td>
      <td>
        <button
          (click)="deletewMatarials(i.id)"
          class="btn btn-danger btn-sm mr-1 ml-1"
        >
          <i class="fa fa-trash"></i>
        </button>
        <button
          (click)="UpdateInvacion(i.id)"
          class="btn btn-info btn-sm mr-1 ml-1"
          [routerLink]="['/infraes/udateAFtangible', i.id]"
        >
          <i class="fa fa-history"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
